body.efyt-wide-player.viewport:not(.efyt-mini-player) ytd-watch-flexy[theater] #movie_player:not(.ytp-fullscreen) video.html5-main-video, body.efyt-wide-player.viewport:not(.efyt-mini-player) ytd-watch-flexy[theater] #movie_player:not(.ytp-fullscreen) .ytp-iv-video-content {
  width: calc(100vw - 17px) !important;
  left: 0px !important;
  top: 0px !important;
}